In [2]:
# Question 1: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers.
# The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score.

n = int(input("Enter the number of tuples: "))
data = []

for _ in range(n):
    entry = input("Enter name, age, height (comma-separated): ")
    name, age, height = entry.split(",")
    data.append((name.strip(), int(age.strip()), int(height.strip())))

sorted_data = sorted(data, key=lambda x: (x[0], x[1], x[2]))

output = [(name, str(age), str(height)) for name, age, height in sorted_data]

print(output)

Enter the number of tuples: 5
Enter name, age, height (comma-separated): Tom,19,80
Enter name, age, height (comma-separated): John,20,90
Enter name, age, height (comma-separated): Jony,17,91
Enter name, age, height (comma-separated): Jony,17,93
Enter name, age, height (comma-separated): Json,21,85
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [4]:
# Question 2: Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary.
# Produce a frequency table.

text = input("Enter a set of sentences: ")

words = text.lower().split()
frequency_table = {}

for word in words:
    word = word.strip('.,!?"')
    if word in frequency_table:
        frequency_table[word] += 1
    else:
        frequency_table[word] = 1

print("Word Frequency Table:")
for word, frequency in frequency_table.items():
    print(f"{word}: {frequency}")

Enter a set of sentences: I love programming. Programming is fun and challenging.
Word Frequency Table:
i: 1
love: 1
programming: 2
is: 1
fun: 1
and: 1
challenging: 1

In [3]:
# Question 3: Result Calculation. Create a dictionary and a list
# Find total marks of each students and display full name of student with total marks secured.

students = {
    'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya',
    'UE183004': 'Rohan', 'UE183005': 'Nisha', 'UE183006': 'Amit',
    'UE183007': 'Simran', 'UE183008': 'Kunal', 'UE183009': 'Pooja', 'UE183010': 'Harsh'
}

marks = [
    ('UE183001', 'CS', 94), ('UE183002', 'CS', 64), ('UE183001', 'RV', 94),
    ('UE183002', 'CS', 74), ('UE183003', 'CS', 64), ('UE183004', 'RV', 85),
    ('UE183005', 'CS', 76), ('UE183006', 'RV', 88), ('UE183007', 'CS', 91),
    ('UE183008', 'RV', 79), ('UE183009', 'CS', 83), ('UE183010', 'RV', 67)
]

student_total_marks = {}

for student_id, subject, mark in marks:
    if student_id in student_total_marks:
        student_total_marks[student_id] += mark
    else:
        student_total_marks[student_id] = mark
print("Student Total Marks:")
for student_id, total_marks in student_total_marks.items():
    student_name = students.get(student_id, "Unknown")
    print(f"{student_name} ({student_id}): {total_marks}")

Student Total Marks:
Avish (UE183001): 188
Bhavya (UE183002): 138
Tanya (UE183003): 64
Rohan (UE183004): 85
Nisha (UE183005): 76
Amit (UE183006): 88
Simran (UE183007): 91
Kunal (UE183008): 79
Pooja (UE183009): 83
Harsh (UE183010): 67

In [9]:
# Question 4: A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers.
# Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
# The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

month_to_number = {
    "JAN": 1, "FEB": 2, "MAR": 3, "APR": 4,
    "MAY": 5, "JUN": 6, "JUL": 7, "AUG": 8,
    "SEP": 9, "OCT": 10, "NOV": 11, "DEC": 12
}

date_str = input("Enter date in dd-MMM-yy format: ")
day, month_abbr, year = date_str.split('-')

year = int(year)
if year < 100:
    year += 1900 if year >= 85 else 2000

month = month_to_number[month_abbr.upper()]
print(f"Decoded date: ({year}, {month}, {int(day)})")

Enter date in dd-MMM-yy format: 14-JUL-04
Decoded date: (2004, 7, 14)

In [2]:
# Question 5: Dice Odds. There are 36 possible combinations of two dice. A simple pair of loops over range(6)+1 will enumerate all combinations.
# The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key.
# Each value in the dict should be a list of tuples; each tuple has the value of two dice.
d = {}

for d1 in range(1, 7):
    for d2 in range(1, 7):
        sum_dice = d1 + d2
        new_tuple = (d1, d2)
        d.setdefault(sum_dice, []).append(new_tuple)

for sum_dice, combinations in d.items():
    print(f"Sum {sum_dice}: {combinations}")

Sum 2: [(1, 1)]
Sum 3: [(1, 2), (2, 1)]
Sum 4: [(1, 3), (2, 2), (3, 1)]
Sum 5: [(1, 4), (2, 3), (3, 2), (4, 1)]
Sum 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
Sum 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
Sum 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
Sum 9: [(3, 6), (4, 5), (5, 4), (6, 3)]
Sum 10: [(4, 6), (5, 5), (6, 4)]
Sum 11: [(5, 6), (6, 5)]
Sum 12: [(6, 6)]